.container1 {
    max-width: 1400px;
    margin: 0 auto;
}
   
.filters1 {
    text-align: center;
    margin-bottom: 2rem;
}
.filters1 * {
    display: inline-block;
}
.filters1 label {
    text-align: center;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.2s;
    color: rgb(69, 69, 69);
}
.filters1 label:hover {
    background: #283971;
    color: #fff;
}
.filters1 label:focus {
    background: #283971;
    color: #fff;
}

[value="All1"]:checked ~ .filters1 [for="All1"],
[value="java1"]:checked ~ .filters1 [for="java1"],
[value="js1"]:checked ~ .filters1 [for="js1"], 
[value="py1"]:checked ~ .filters1 [for="py1"], 
[value="c1"]:checked ~ .filters1 [for="c1"], 
[value="cpl1"]:checked ~ .filters1 [for="cpl1"], 
[value="php1"]:checked ~ .filters1 [for="php1"],
[value="html1"]:checked ~ .filters1 [for="html1"], 
[value="css1"]:checked ~ .filters1 [for="css1"] {
    background: #283971;
    color: #fff;
}
[value="All1"]:checked ~ .targets1 [data-category] {
    display: block;
}
[value="java1"]:checked ~ .targets1 .target1:not([data-category~="java1"]), 
[value="js1"]:checked ~ .targets1 .target1:not([data-category~="js1"]), 
[value="py1"]:checked ~ .targets1 .target1:not([data-category~="py1"]),
[value="c1"]:checked ~ .targets1 .target1:not([data-category~="c1"]), 
[value="cpl1"]:checked ~ .targets1 .target1:not([data-category~="cpl1"]), 
[value="php1"]:checked ~ .targets1 .target1:not([data-category~="php1"]),
[value="html1"]:checked ~ .targets1 .target1:not([data-category~="html1"]), 
[value="css1"]:checked ~ .targets1 .target1:not([data-category~="css1"]) {
     display: none;
}
/* メディアクエリ */
@media screen and (max-width: 900px) {
    .targets1 {
        grid-template-columns: repeat(3, 1fr);
    }
}
 
@media screen and (max-width: 650px) {
    .targets1 {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* フィルタリングアニメーション  */
[value="java1"]:checked ~ .targets1 .target1, 
[value="js1"]:checked ~ .targets1 .target1, 
[value="py1"]:checked ~ .targets1 .target1,
[value="c1"]:checked ~ .targets1 .target1, 
[value="cpl1"]:checked ~ .targets1 .target1, 
[value="php1"]:checked ~ .targets1 .target1
[value="html1"]:checked ~ .targets1 .target1, 
[value="css1"]:checked ~ .targets1 .target1,
[value="All1"]:checked ~ .targets1 [data-category] {
    animation: checked_animation 0.4s ease-in-out both;
}
@keyframes checked_animation {
    0% {
        transform: translate(0, 300px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.container2 {
    max-width: 1400px;
    margin: 0 auto;
}
   
.filters2 {
    text-align: center;
    margin-bottom: 2rem;
}
.filters2 * {
    display: inline-block;
}
.filters2 label {
    text-align: center;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.2s;
    color: rgb(69, 69, 69);
}
.filters2 label:hover {
    background: #283971;
    color: #fff;
}
.filters2 label:focus {
    background: #283971;
    color: #fff;
}

[value="All2"]:checked ~ .filters2 [for="All2"],
[value="java2"]:checked ~ .filters2 [for="java2"],
[value="js2"]:checked ~ .filters2 [for="js2"], 
[value="py2"]:checked ~ .filters2 [for="py2"], 
[value="c2"]:checked ~ .filters2 [for="c2"], 
[value="cpl2"]:checked ~ .filters2 [for="cpl2"], 
[value="php2"]:checked ~ .filters2 [for="php2"],
[value="html2"]:checked ~ .filters2 [for="html2"], 
[value="css2"]:checked ~ .filters2 [for="css2"] {
    background: #283971;
    color: #fff;
}
[value="All2"]:checked ~ .targets2 [data-category] {
    display: block;
}
[value="java2"]:checked ~ .targets2 .target2:not([data-category~="java2"]), 
[value="js2"]:checked ~ .targets2 .target2:not([data-category~="js2"]), 
[value="py2"]:checked ~ .targets2 .target2:not([data-category~="py2"]),
[value="c2"]:checked ~ .targets2 .target2:not([data-category~="c2"]), 
[value="cpl2"]:checked ~ .targets2 .target2:not([data-category~="cpl2"]), 
[value="php2"]:checked ~ .targets2 .target2:not([data-category~="php2"]),
[value="html2"]:checked ~ .targets2 .target2:not([data-category~="html2"]), 
[value="css2"]:checked ~ .targets2 .target2:not([data-category~="css2"]) {
     display: none;
}
/* メディアクエリ */
@media screen and (max-width: 900px) {
    .targets2 {
        grid-template-columns: repeat(3, 1fr);
    }
}
 
@media screen and (max-width: 650px) {
    .targets2 {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* フィルタリングアニメーション  */
[value="java2"]:checked ~ .targets2 .target2, 
[value="js2"]:checked ~ .targets2 .target2, 
[value="py2"]:checked ~ .targets2 .target2,
[value="c2"]:checked ~ .targets2 .target2, 
[value="cpl2"]:checked ~ .targets2 .target2, 
[value="php2"]:checked ~ .targets2 .target2
[value="html2"]:checked ~ .targets2 .target2, 
[value="css2"]:checked ~ .targets2 .target2,
[value="All2"]:checked ~ .targets2 [data-category] {
    animation: checked_animation 0.4s ease-in-out both;
}
@keyframes checked_animation {
    0% {
        transform: translate(0, 300px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}